<div class="page with-group-sections fill-page-height"  data-bind="page: {id:'resources',  afterShow:tabchange ,beforeShow:pageScrollTop}">
    <div class="page-wrapper">
        <section class="section group-section">
            <div class="row">
                <div class="column medium-6 medium-push-6">
                    <h3>
                        Patient Resources
                    </h3>
                    <nav class="nav-list small">
                        <ul>
                            {% for documents in global.patient-resources %}
                            <li>
                                <a href="#!/content/patient-split-layout/{{documents.file}}"onclick="gaWrapper('send', 'event', 'Navigate', 'Document', 'Patient');">
                                    <span class="text">
                                        {{documents.name}}
                                    </span>
                                    <i class="fa fa-holder-dynamic">
                                    </i>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
                <div class="column medium-6 medium-pull-6">
                    <h3>
                        Clinician Resources
                    </h3>
                    <nav class="nav-list small">
                        <ul>
                            {% for documents in global.clinician-resources %}
                            <li>
                                <a href="#!/content/clinician-split-layout/{{documents.file}}" onclick="gaWrapper('send', 'event', 'Navigate', 'Document', 'Clinican');">
                                    <span class="text">
                                        {{documents.name}}
                                    </span>
                                    <i class="fa fa-holder-dynamic">
                                    </i>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
    </div>
</div>
<div  data-bind="page: {id:'clinician-split-layout'}">
    <div class="medium split-layout fill-page-height">
        <div class="split-sidebar">
            <div class="content-padding" style="padding-top: 1em;">
                <h4 class="">
                    Clinician Resources
                </h4>
            </div>
            <nav class="nav-list small">
                <ul>
                    {% for documents in global.clinician-resources %}
                    <li>
                        <a href="#!/content/clinician-split-layout/{{documents.file}}" onclick="gaWrapper('send', 'event', 'Navigate', 'Document', 'Clinican');">
                            <span class="text">
                                {{documents.name}}
                            </span>
                            <i class="fa fa-holder-dynamic">
                            </i>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
            <div class="content-padding" style="padding-top: 1em;">
                <h4 class="">
                    Patient Resources
                </h4>
            </div>
            <nav class="nav-list small">
                <ul>
                    {% for documents in global.patient-resources %}
                    <li>
                        <a href="#!/content/patient-split-layout/{{documents.file}}" onclick="gaWrapper('send', 'event', 'Navigate', 'Document', 'Patient');">
                            <span class="text">
                                {{documents.name}}
                            </span>
                            <i class="fa fa-holder-dynamic">
                            </i>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div class="split-content page with-group-sections">
            <div class="section-nav back hide-for-medium">
                <a  href="#!/content/resources/">
                    <div class="circle">
                        <i class="fa fa-holder-dynamic">
                        </i>
                    </div>
                    <div class="text">
                        Back to Resources
                    </div>
                </a>
            </div>
            <div class="page-wrapper">
                <div data-bind="page: {id:'clinical_understanding',afterShow: listchange}" class="group-section">
                    {% include 'pages/clinician/clinical_understanding' %}
                </div>
                <div data-bind="page: {id:'clinical_lifestyle',afterShow: listchange}" class="group-section">
                    {% include 'pages/clinician/clinical_lifestyle' %}
                </div>
                <div data-bind="page: {id:'statin',afterShow: listchange}" class="group-section">
                    {% include 'pages/clinician/statin' %}
                </div>
                <div data-bind="page: {id:'summary_recommendations',afterShow: listchange}" class="group-section">
                    {% include 'pages/clinician/summary_recommendations' %}
                </div>
                <div data-bind="page: {id:'guideline_flowchart',afterShow: listchange, beforeShow: panzoom}" class="group-section flow-chart">
                    {% include 'pages/clinician/guideline_flowchart' %}
                </div>
                <div data-bind="page: {id:'statin_dose',afterShow: listchange}" class="group-section">
                    {% include 'pages/clinician/statin_dose' %}
                </div>
                <div data-bind="page: {id:'monitor_flowchart',afterShow: listchange, beforeShow: panzoom}" class="group-section flow-chart">
                    {% include 'pages/clinician/monitor_flowchart' %}
                </div>
                <div data-bind="page: {id:'clinical_reference_safety_recomendations',afterShow: listchange}" class="group-section">
                    {% include 'pages/clinician/clinical_reference_safety_recomendations' %}
                </div>
                <div data-bind="page: {id:'reference_external_links',afterShow: listchange}" class="group-section">
                    {% include 'pages/clinician/reference_external_links' %}
                </div>
            </div>
        </div>
    </div>
</div>
<div  data-bind="page: {id:'patient-split-layout'}">
    <div class="medium split-layout fill-page-height">
        <div class="split-sidebar">
            <h4 class="content-padding">
                Clinician Resources
            </h4>
            <nav class="nav-list small">
                <ul>
                    {% for documents in global.clinician-resources %}
                    <li>
                        <a href="#!/content/clinician-split-layout/{{documents.file}}" onclick="gaWrapper('send', 'event', 'Navigate', 'Document', 'Clinican');">
                            <span class="text">
                                {{documents.name}}
                            </span>
                            <i class="fa fa-holder-dynamic">
                            </i>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
            <h4 class="content-padding">
                Patient Resources
            </h4>
            <nav class="nav-list small">
                <ul>
                    {% for documents in global.patient-resources %}
                    <li>
                        <a href="#!/content/patient-split-layout/{{documents.file}}"  onclick="gaWrapper('send', 'event', 'Navigate', 'Document', 'Patient');">
                            <span class="text">
                                {{documents.name}}
                            </span>
                            <i class="fa fa-holder-dynamic">
                            </i>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div class="split-content page with-group-sections">
            <div class="section-nav back hide-for-medium">
                <a  href="#!/content/resources/">
                    <div class="circle">
                        <i class="fa fa-holder-dynamic">
                        </i>
                    </div>
                    <div class="text">
                        Back to Guidlines &amp; Resources
                    </div>
                </a>
            </div>
            <div class="page-wrapper">
                <div data-bind="page: {id:'patient_risk',afterShow: listchange}" class="group-section">
                    {% include "pages/patient/patient_risk" %}
                </div>
                <div data-bind="page: {id:'patient_lifestyle',afterShow: listchange}" class="group-section">
                    {% include "pages/patient/patient_lifestyle" %}
                </div>
                <div data-bind="page: {id:'patient_obesity',afterShow: listchange}" class="group-section">
                    {% include "pages/patient/patient_obesity" %}
                </div>
                <div data-bind="page: {id:'patient_cholesterol',afterShow: listchange}" class="group-section">
                    {% include "pages/patient/patient_cholesterol" %}
                </div>
                <div data-bind="page: {id:'statin_infographic',afterShow: listchange,beforeShow:panzoom}" class="group-section">
                    {% include "pages/patient/statin_infographic" %}
                </div>
                <div data-bind="page: {id:'patient_reference_definition',afterShow: listchange}" class="group-section">
                    {% include "pages/patient/patient_reference_definition" %}
                </div>
            </div>
        </div>
    </div>
</div>
